@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/* font-family: 'Commissioner', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 50px;
    margin: 0 auto;
}
nav{
    margin-left: 10%;
}
nav .max-width{
    display: flex;
    justify-content: space-around;
}

nav .link-menu a{
    position: relative;
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-decoration: none;
}
.max-width .logo{
    z-index: 9;
}

.max-width .logo img{
    height: 200px;
    width: 200px;
}

.max-width .link-menu{
    width: 800px;
    line-height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.max-width .link-menu a{
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;

    z-index: 4;
}

.home-menu{
    background-image:  url("./image/hero.jpg");
    height: 700px;
    background-size: cover;

    position: relative;
    z-index: 1;
}



.content-menu{
    width: 700px;
    height: 200px;
    margin-left: 10%;
    margin-top: 8%;
    color: white;
    position: relative;

    z-index: 999;
}

.content-menu .text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 150;
    line-height: 60px;

    z-index: 9;
}

.content-menu .multi-button{
    width: 320px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-menu .multi-button button{
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    border: solid 2px orange;
    border-radius: 30px;
}
#button1{
    background-color: orange;
    color: white;
}
#button2{
    color: orange;
}

.opacity-menu{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;

    z-index: 2;}

    .max-width .title{
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        text-align: center;
    }
    
    .max-width .orange-bar{
        width: 100px;
        height: 2px;
        background-color: orange;
        margin-top: 30px;
    }
    
    .home-content .max-width{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .home-content .max-width .about{
        margin-top: 30px;
    }
    
    .max-width .about p {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
    }
    .ab {
        border: 10px solid rgb(101, 102, 126);
        width: 251px;
      }
      .clgt {
        width: 230px;
        height: 400px;
      }
      .bo:hover {
        background-color: cornflowerblue;
      }
      
      .kobe {
          border: 10px solid rgb(101, 102, 126);
          width: 251px;
        }
        .kobe2 {
          width: 230px;
          height: 400px;
        }
        .bo:ha {
          background-color: cornflowerblue;
        }
      
      .cho:hover {
        background-color: darkgray;
      }
      
      .ac {
        border: 10px solid rgb(101, 102, 126);
        width: 251px;
      }
      .buoi {
        width: 230px;
        height: 400px;
      }
      .cac:hover {
        background-color: cornflowerblue;
      }
      .du:hover {
        background-color: darkgray;
      }
      
      .ad {
        border: 10px solid rgb(101, 102, 126);
        width: 251px;
      }
      .sv {
        width: 230px;
        height: 400px;
      }
      .abc:hover {
        background-color: cornflowerblue;
      }
      .cut:hover {
        background-color: darkgray;
      }
      
      .ae {
        border: 10px solid rgb(101, 102, 126);
        width: 251px;
      }
      .an {
        width: 230px;
        height: 400px;
      }
      .te:hover {
        background-color: cornflowerblue;
      }
      .to:hover {
        background-color: darkgray;
      }
      .home-banner{
        width: 100%;
        margin-top: 30px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .home-banner .banner-image{
        width: 25%;
        height: 275px;
        z-index: 1;
    }
    .home-banner .banner-image img {
        width: 100%;
        height: 275px;
        border: none;
        display: block;
        z-index: 1;
    }
      
    /*.footer{
      background-color: black;
      width: 100%;
  }
  .footer .max-width{
      display: flex;
      flex-direction: column;
  }
  .footer .max-width .info-top{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .info-top .menu{
      width: 40%;
  }
  .info-top .menu a{
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      color: rgb(179,177,177);
      font-weight: 400;
  }
  .footer .max-width .icon-contact{
      color: rgb(179,177,177);
      width: 15%;
      margin-top: 10px;
      font-size: 25px;
      display: flex;
      justify-content: space-between;
  }*/
  .footer{
    background-color: rgb(67, 67, 94);
    width: 100%;
}
.footer .max-width{
    display: flex;
    flex-direction: column;
}
.footer .max-width .info-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-top .menu{
    width: 40%;
}
.info-top .menu a{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(179,177,177);
    font-weight: 400;
}
.footer .max-width .icon-contact{
    color: rgb(179,177,177);
    width: 15%;
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}